<div class="margin-to-center">
  <form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="Name">Name: </label>
      <input #Name="ngModel" [(ngModel)]="score.Name" name="Name" id="Name" type="text" class="form-control" style="width: 30%" required>
      <div class="alert alert-danger" *ngIf="Name.touched && Name.invalid">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="score">Score: </label>
      <input #score="ngModel" [(ngModel)]="score.score" name="score" id="score" type="text" class="form-control" style="width: 30%" required>
      <div class="alert alert-danger" *ngIf="score.touched && score.invalid">
        Score is required.
      </div>
    </div>
    <div style="padding-left: 15%; width: 30%">
      <button class="btn btn-primary" id="saveBtn">Save</button>
    </div>
    
  </form>
</div>