<div class="margin-to-center">
  <h1>Add New Employee Skill</h1>
  <br>
  <br>
  <div>
    <label><h4>{{employeeFirstName}} {{employeeLastName}}</h4></label>
    <label style="margin-left: 50px;"><h4>{{employeeEmail}}</h4></label>
  </div>
  <br>
  <br>
  <form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="Skill_Id">Skill</label>
      <select #Skill_Id="ngModel" [(ngModel)]="employeeSkill.Skill_Id" name="Skill_Id" id="Skill_Id" class="form-control" style="width: 30%" required>
        <option value="">-- Select --</option>
        <option *ngFor="let s of skills$" [value]="s.Id">
          {{ s.Name }}
        </option>
      </select>
      <div class="alert alert-danger" *ngIf="Skill_Id.touched && Skill_Id.invalid">
        Skill is required.
      </div>
    </div>
    <div class="form-group">
      <label for="Score_Id">Score</label>
      <select #Score_Id="ngModel" [(ngModel)]="employeeSkill.Score_Id" name="Score_Id" id="Score_Id" class="form-control" style="width: 30%" required>
        <option value="">-- Select --</option>
        <option *ngFor="let s of scores$" [value]="s.Id">
          {{ s.Name }}
        </option>
      </select>
      <div class="alert alert-danger" *ngIf="Score_Id.touched && Score_Id.invalid">
        Score is required.
      </div>
    </div>
    <!-- <div class="form-group">
      <label #ScoreLbl="ngModel" [(ngModel)]="Score" name="ScoreLbl" id="ScoreLbl" class="form-control" style="width: 30%">{{Score}}</label>
    </div> -->
    <div style="padding-left: 15%; width: 30%">
      <button class="btn btn-primary" id="saveBtn">Save</button>
    </div>
    
  </form>
</div>