<div class="margin-to-center">
  <br>
  <button mat-raised-button color="primary" routerLink="/employee/new"><mat-icon>add_box</mat-icon>  Add New Employee </button>
  <br>
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to search ...">
  </mat-form-field>
</div>

  
<div class="mat-elevation-z8 margin-to-center">
  
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- FirstName Column -->
    <ng-container matColumnDef="FirstName">
      <th class="reset-width" mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td class="reset-width" mat-cell *matCellDef="let row">{{row.FirstName}}</td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="LastName">
        <th class="reset-width" mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td class="reset-width" mat-cell *matCellDef="let row">{{row.LastName}}</td>
      </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.Email}}</td>
      </ng-container>

    <!-- IsActive Column -->
    <!-- <ng-container matColumnDef="IsActive">
        <th class="reset-width" mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
        <td class="reset-width" mat-cell *matCellDef="let row">{{row.IsActive}}</td>
      </ng-container> -->

    <!-- Actions Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button (click)="openModal('custom-modal-2', row)"><mat-icon>device_hub</mat-icon>Skills</button>
      <button style="margin-left: 5px;" mat-raised-button color="primary" routerLink="/employee/{{row.Id}}"><mat-icon>edit</mat-icon>Edit</button>
      <button style="margin-left: 5px;" mat-raised-button color="warn" (click)="openModal('custom-modal-1', row)"><mat-icon>delete</mat-icon>Delete</button>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSourceLength"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
  </mat-paginator>
</div>

<jw-modal id="custom-modal-1">
  <h1>Delete Confirmation !</h1>
  <p>Are you sure you want to delete the following employee ?! </p>
  <!-- <input type="text" [(ngModel)]="bodyText" /></p> -->
  <form #f="ngForm" (ngSubmit)="DeleteEmployee(f.value, 'custom-modal-1')">
    <div class="form-group">
      <label for="FirstName">First Name: </label>
      <input #FirstName="ngModel" [(ngModel)]="employee.FirstName" name="FirstName" id="FirstName" type="text" class="form-control" style="width: 30%" disabled>
    </div>
    <div class="form-group">
      <label for="LastName">Last Name: </label>
      <input #LastName="ngModel" [(ngModel)]="employee.LastName" name="LastName" id="LastName" type="text" class="form-control" style="width: 30%" disabled>
    </div>
    <div class="form-group">
      <label for="Email">Email: </label>
      <input #Email="ngModel" [(ngModel)]="employee.Email" name="Email" id="Email" type="email" class="form-control" style="width: 30%" disabled>
    </div>
    <div class="checkbox">
      <label><input #IsActive="ngModel" [(ngModel)]="employee.IsActive" name="IsActive" type="checkbox" id="IsActive" disabled> Is Active</label>
    </div>
    <div style="padding-left: 15%; width: 30%">
      <button class="btn btn-primary" id="yesBtn" type="submit">Yes</button>   
      <button (click)="closeModal('custom-modal-1');" type="button" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
    </div>
  </form>
</jw-modal>

<jw-modal id="custom-modal-2">
  <h1>Employee Skills</h1>
  <div>
    <label><h4>{{employee.FirstName}} {{employee.LastName}}</h4></label>
    <label style="margin-left: 50px;"><h4>{{employee.Email}}</h4></label>
  </div>

  <br>
  <button mat-raised-button color="primary" [routerLink]="['/employeeSkill/new', employee.Id, employee.FirstName, employee.LastName, employee.Email]"><mat-icon>add_box</mat-icon>  Add New Employee Skill </button>
  <br>

  <br>
  <div>
    <app-accordion>
      <app-accordion-group [title]="s.SkillCategoryName" *ngFor="let s of skillCategories">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Skill Name</th>
              <th scope="col">Score Name</th>
              <th scope="col">Score</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let es of getEmployeeSkillsPerCategory(s.SkillCategoryName)">
              <td>{{ es.SkillName }}</td>
              <td>{{ es.ScoreName }}</td>
              <td>{{ es.Score }}</td>
              <td>
                <button mat-raised-button color="primary" (click)="EditEmployeeSkill(es.EmployeeSkillId, employee.Id, employee.FirstName, employee.LastName, employee.Email)"><mat-icon>edit</mat-icon>Edit</button>
                <button style="margin-left: 5px;" mat-raised-button color="warn" (click)="removeSkill(es.Id, 'custom-modal-2', 'custom-modal-3')"><mat-icon>delete</mat-icon>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </app-accordion-group>
    </app-accordion>
  </div>
  <br>

  <button (click)="closeModal('custom-modal-2');" type="button" class="btn btn-danger">Cancel</button>
</jw-modal>

<jw-modal id="custom-modal-3">
  <h1>Delete Confirmation !</h1>
  <p>Are you sure you want to delete this skill ?! </p>

  <br>
  <br>
  <br>

  <div style="padding-left: 15%; width: 30%">
    <button class="btn btn-primary" id="yesBtn" (click)="DeleteEmployeeSkill()">Yes</button>   
    <button (click)="closeModal('custom-modal-3'); openModal('custom-modal-2', null);" type="button" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
  </div>
</jw-modal>