<div class="margin-to-center">
  <form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="FirstName">First Name: </label>
      <input #FirstName="ngModel" [(ngModel)]="employee.FirstName" name="FirstName" id="FirstName" type="text" class="form-control" style="width: 30%" required>
      <div class="alert alert-danger" *ngIf="FirstName.touched && FirstName.invalid">
        First Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="LastName">Last Name: </label>
      <input #LastName="ngModel" [(ngModel)]="employee.LastName" name="LastName" id="LastName" type="text" class="form-control" style="width: 30%" required>
      <div class="alert alert-danger" *ngIf="LastName.touched && LastName.invalid">
        Last Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="Email">Email: </label>
      <input #Email="ngModel" [(ngModel)]="employee.Email" name="Email" id="Email" type="email" class="form-control" style="width: 30%" required>
      <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
        Email is required.
      </div>
    </div>
    <div class="checkbox">
      <label><input #IsActive="ngModel" [(ngModel)]="employee.IsActive" name="IsActive" type="checkbox" id="IsActive"> Is Active</label>
    </div>
    <div style="padding-left: 15%; width: 30%">
      <button class="btn btn-primary" id="saveBtn">Save</button>
    </div>
    
  </form>
</div>