<div class="data-table">
    <br>
    <button mat-raised-button color="primary" routerLink="/score/new"><mat-icon>add_box</mat-icon>  Add New Score</button>
    <br>
    
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to search ...">
    </mat-form-field>
  </div>
  
    
  <div class="mat-elevation-z8 data-table">
    
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
  
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th class="reset-width" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="reset-width" mat-cell *matCellDef="let row">{{row.Name}}</td>
      </ng-container>
  
      <!-- Score Column -->
      <ng-container matColumnDef="Score">
          <th class="reset-width" mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
          <td class="reset-width" mat-cell *matCellDef="let row">{{row.score}}</td>
        </ng-container>
        
      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" routerLink="/score/{{row.Id}}"><mat-icon>edit</mat-icon>Edit</button>
          <button style="margin-left: 5px;" mat-raised-button color="warn" (click)="openModal('custom-modal-1', row)"><mat-icon>delete</mat-icon>Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
      [length]="dataSourceLength"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
    </mat-paginator>
  </div>

  <jw-modal id="custom-modal-1">
    <h1>Delete Confirmation !</h1>
    <p>Are you sure you want to delete the following score ?! </p>
    <form #f="ngForm" (ngSubmit)="DeleteScore(f.value, 'custom-modal-1')">
      <div class="form-group">
        <label for="Name">Name: </label>
        <input #Name="ngModel" [(ngModel)]="score.Name" name="Name" id="Name" type="text" class="form-control" style="width: 30%" disabled>
      </div>
      <div class="form-group">
        <label for="score">Score: </label>
        <input #score="ngModel" [(ngModel)]="score.score" name="score" id="score" type="text" class="form-control" style="width: 30%" disabled>
      </div>
      <div style="padding-left: 15%; width: 30%">
        <button class="btn btn-primary" id="yesBtn" type="submit">Yes</button>   
        <button (click)="closeModal('custom-modal-1');" type="button" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      </div>
    </form>
  </jw-modal>